/* components/Layout.module.css */

.container {
  padding: 1rem; /* Add some padding to the container */
}

.header {
  background-color: #333; /* Dark background for the header */
  color: #fff; /* White text color for the header */
  padding: 1rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.navLink {
  margin: 0 1rem;
  color: #333; /* Set the color of the navigation links */
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #0070f3; /* Change the color on hover */
}

.main {
  width: 100%;
  max-width: 800px; /* Limit the width of the main content */
  margin: 2rem auto; /* Center the main content horizontally */
  padding: 1rem;
}

.rightColumn {
  /* Add any styles needed for the right column */
}

.footer {
  background-color: #333; /* Dark background for the footer */
  color: #fff; /* White text color for the footer */
  padding: 1rem;
  text-align: center;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.socialLink {
  margin: 0 0.5rem;
  color: #fff; /* White color for social media links */
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.socialLink:hover {
  color: #0070f3; /* Change the color on hover */
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .main {
    /* No need to set width for smaller screens, it will take full width */
    margin: 1rem 0; /* Adjust the margin for the main content on smaller screens */
  }
}
