/* components/Layout.module.css */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #333; /* Dark background for the header */
  color: #fff; /* White text color for the header */
  padding: 1rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
}

.navItem {
  margin: 0 1rem;
}

.navItem a {
  color: #fff;
  text-decoration: none;
}

.navItem a:hover {
  text-decoration: underline;
}

.main {
  width: 100%;
  max-width: 800px; /* Limit the width of the main content */
  margin: 2rem auto; /* Center the main content horizontally */
  padding: 1rem;
}

.rightColumn {
  /* Add any styles needed for the right column */
}

.footer {
  background-color: #333; /* Dark background for the footer */
  color: #fff; /* White text color for the footer */
  padding: 3rem;
  text-align: center;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: #fff;
}

.socialLink {
  margin: 0 0.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  -o-transition: color 0.2s ease; /* Prefixed property listed first */
  transition: color 0.2s ease; /* Unprefixed property listed after prefixed property */
}


.socialLink:hover {
  color: #0070f3; /* Change the color on hover */
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .main {
    /* No need to set width for smaller screens, it will take full width */
    margin: 1rem 0; /* Adjust the margin for the main content on smaller screens */
  }
}
